<h2><a href="/">All Trainers</a></h2>
<div class="trainer">
  <p>Trainer Name: <%= @trainer.name %></p>
  <p>Trainer Level: <%= @trainer.level %></p>
  <img src="<%= @trainer.img_url %>" alt="Trainer">
  <a href="/trainers/<%= @trainer.id %>/edit">Edit This Trainer</a>
</div>
